<section id="dashboard">

    <div class="dashboard-title">
        <span class="user-icon">
            <svg width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M93 46.4535C93 20.8087 72.168 0 46.5 0C20.832 0 0 20.8087 0 46.4535C0 60.5779 6.417 73.3072 16.461 81.8516C16.554 81.9446 16.647 81.9446 16.647 82.0376C17.484 82.6886 18.321 83.3396 19.251 83.9906C19.716 84.2696 20.088 84.6358 20.553 85.0078C28.2375 90.2179 37.3087 93.0021 46.593 93C55.8772 93.0021 64.9485 90.2179 72.633 85.0078C73.098 84.7288 73.47 84.3626 73.935 84.0778C74.772 83.4326 75.702 82.7816 76.539 82.1306C76.632 82.0376 76.725 82.0376 76.725 81.9446C86.583 73.3014 93 60.5779 93 46.4535V46.4535ZM46.5 87.1468C37.758 87.1468 29.76 84.3568 23.157 79.7126C23.25 78.9686 23.436 78.2304 23.622 77.4864C24.1762 75.4701 24.9889 73.534 26.04 71.7263C27.063 69.9593 28.272 68.3783 29.76 66.9833C31.155 65.5883 32.829 64.2921 34.503 63.2691C36.27 62.2461 38.13 61.5021 40.176 60.9441C42.2379 60.3883 44.3645 60.1088 46.5 60.1129C52.8394 60.068 58.9459 62.4997 63.519 66.8903C65.658 69.0293 67.332 71.5403 68.541 74.4174C69.192 76.0914 69.657 77.8584 69.936 79.7126C63.0725 84.5379 54.89 87.1335 46.5 87.1468ZM32.271 44.1343C31.4516 42.2582 31.0395 40.2295 31.062 38.1823C31.062 36.1421 31.434 34.0961 32.271 32.2361C33.108 30.3761 34.224 28.7079 35.619 27.3129C37.014 25.9179 38.688 24.8078 40.548 23.9708C42.408 23.1338 44.454 22.7617 46.5 22.7617C48.639 22.7617 50.592 23.1338 52.452 23.9708C54.312 24.8078 55.986 25.9237 57.381 27.3129C58.776 28.7079 59.892 30.3819 60.729 32.2361C61.566 34.0961 61.938 36.1421 61.938 38.1823C61.938 40.3213 61.566 42.2743 60.729 44.1285C59.9212 45.961 58.7867 47.6312 57.381 49.0575C55.9542 50.4612 54.284 51.5937 52.452 52.3997C48.6089 53.979 44.2981 53.979 40.455 52.3997C38.623 51.5937 36.9528 50.4612 35.526 49.0575C34.1183 47.652 33.0109 45.975 32.271 44.1285V44.1343ZM75.423 74.9754C75.423 74.7894 75.33 74.6964 75.33 74.5104C74.4153 71.6008 73.0672 68.8457 71.331 66.3381C69.5932 63.8118 67.4575 61.5839 65.007 59.7409C63.1355 58.333 61.1069 57.147 58.962 56.2069C59.9378 55.5631 60.842 54.8168 61.659 53.9807C63.0455 52.6119 64.2632 51.082 65.286 49.4237C67.3457 46.0397 68.4094 42.1435 68.355 38.1823C68.3838 35.25 67.8142 32.3426 66.681 29.6379C65.5622 27.0318 63.9519 24.6657 61.938 22.6688C59.9271 20.6927 57.5605 19.1149 54.963 18.0187C52.2538 16.8876 49.3427 16.32 46.407 16.3506C43.4709 16.3218 40.5598 16.8914 37.851 18.0246C35.231 19.1184 32.8587 20.7296 30.876 22.7617C28.9 24.7705 27.3222 27.1352 26.226 29.7309C25.0928 32.4356 24.5232 35.343 24.552 38.2753C24.552 40.3213 24.831 42.2743 25.389 44.1285C25.947 46.0815 26.691 47.8485 27.714 49.5167C28.644 51.1907 29.946 52.6787 31.341 54.0737C32.178 54.9107 33.108 55.6489 34.131 56.2999C31.9794 57.2651 29.9502 58.4826 28.086 59.9269C25.668 61.7869 23.529 64.0131 21.762 66.4311C20.0081 68.9283 18.6586 71.6862 17.763 74.6034C17.67 74.7894 17.67 74.9754 17.67 75.0684C10.323 67.6342 5.766 57.6019 5.766 46.4535C5.766 24.0638 24.087 5.76019 46.5 5.76019C68.913 5.76019 87.234 24.0638 87.234 46.4535C87.2218 57.1483 82.9753 67.4031 75.423 74.9754V74.9754Z" fill="white"/>
            </svg>    
        </span>
        <span class="user-username"><%= user.username %></span>
    </div>

    <div class="dashboard-content-box">        
        <nav class="nav">
        
            <ul class="nav-menu">
                <li class="menu-item"><a href="/dashboard/add-image" class="menu-link">Add image</a></li>
                <li class="menu-item"><a href="/dashboard/edit-account" class="menu-link">Edit account</a></li>
                <li class="menu-item"><a href="/auth/login/?action=logout" class="menu-link menu-link-logout">Logout</a></li>
            </ul>

        </nav>

        <div class="box-item message-box"></div>

        <div class="box-item">
            <span class="title">Username</span>
            <div class="content">
                <span><%= user.username %></span>
            </div>
        </div>
        <div class="box-item">
            <span class="title">Email Address</span>
            <div class="content">
                <span><%= user.emailAddress %></span>
            </div>
        </div>
        <div class="box-item box-item-images">
            <span class="title">Images</span>

            <% if (user.imageId.length > 0) { %>
                <div class="content content-images">

                    <% for(let i=0; i < user.imageId.length; i++){ %>
                        <div class="image-container">
                            <div class="image image-loader">
                                <img data-image-id="<%= user.imageId[i] %>" src="">
                            </div>
                            <div class="image-sub">
                                <div class="container">
                                    <button class="imageDeleteBtn" data-image-id="<%= user.imageId[i] %>">
                                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.90625 2.62631V0.65625C5.90625 0.482202 5.97539 0.315282 6.09846 0.192211C6.22153 0.0691405 6.38845 0 6.5625 0H11.8125C11.9865 0 12.1535 0.0691405 12.2765 0.192211C12.3996 0.315282 12.4688 0.482202 12.4688 0.65625V2.62631H17.7188C17.8928 2.62631 18.0597 2.69545 18.1828 2.81852C18.3059 2.9416 18.375 3.10852 18.375 3.28256C18.375 3.45661 18.3059 3.62353 18.1828 3.7466C18.0597 3.86967 17.8928 3.93881 17.7188 3.93881H0.65625C0.482202 3.93881 0.315282 3.86967 0.192211 3.7466C0.0691404 3.62353 0 3.45661 0 3.28256C0 3.10852 0.0691404 2.9416 0.192211 2.81852C0.315282 2.69545 0.482202 2.62631 0.65625 2.62631H5.90625ZM7.21875 2.62631H11.1562V1.31381H7.21875V2.62631ZM2.625 18.3763C2.45095 18.3763 2.28403 18.3072 2.16096 18.1841C2.03789 18.061 1.96875 17.8941 1.96875 17.7201V3.93881H16.4062V17.7201C16.4062 17.8941 16.3371 18.061 16.214 18.1841C16.091 18.3072 15.924 18.3763 15.75 18.3763H2.625ZM7.21875 14.4388C7.3928 14.4388 7.55972 14.3697 7.68279 14.2466C7.80586 14.1235 7.875 13.9566 7.875 13.7826V7.22007C7.875 7.04602 7.80586 6.8791 7.68279 6.75603C7.55972 6.63296 7.3928 6.56382 7.21875 6.56382C7.0447 6.56382 6.87778 6.63296 6.75471 6.75603C6.63164 6.8791 6.5625 7.04602 6.5625 7.22007V13.7826C6.5625 13.9566 6.63164 14.1235 6.75471 14.2466C6.87778 14.3697 7.0447 14.4388 7.21875 14.4388ZM11.1562 14.4388C11.3303 14.4388 11.4972 14.3697 11.6203 14.2466C11.7434 14.1235 11.8125 13.9566 11.8125 13.7826V7.22007C11.8125 7.04602 11.7434 6.8791 11.6203 6.75603C11.4972 6.63296 11.3303 6.56382 11.1562 6.56382C10.9822 6.56382 10.8153 6.63296 10.6922 6.75603C10.5691 6.8791 10.5 7.04602 10.5 7.22007V13.7826C10.5 13.9566 10.5691 14.1235 10.6922 14.2466C10.8153 14.3697 10.9822 14.4388 11.1562 14.4388Z" fill="#FF0000"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% } %> 
            <% } else { %> 
                <div class="content">
                    <span>sorry you don't have an image</span>
                    <a href="/dashboard/add-image" class="add-image">Add image</a>
                </div>
            <% } %> 
        </div>
    </div>


</section>